/* ---------------
    COLOUR SCHEME 
    
  #c78c06 #ffe6ac, #222
    
--------------- */

:root {
  --primary: #c78c06;
  --secondary: #ffe6ac;
  --dark: #222;
  --light: #ffffff;
  --btn-font-size: 1.6rem;
  --btn-padding: 30px;
}


/* ---------------
    GLOBAL STYLES
--------------- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--dark);
}

h1 {
  font-size: 3.8rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

textarea {
  resize: none;
}

/* Makes icon bigger on buttons */
.btn .material-symbols-outlined, .welcome-btn .material-symbols-outlined, .vision-btn .material-symbols-outlined {
  font-size: 3rem;
}

/* ---------------
    HOMEPAGE
--------------- */

/* -------Wrapper------*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* -------Nav------*/

header {
  background-color: var(--dark);
}

.nav-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.nav-item {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.4rem;
  margin: 30px;
}

.nav-item:nth-child(1) {
  background-color: var(--primary);
  color: var(--dark);
}

.search {
  display: flex;
  width: 60%;
}

.searchbar {
  width: 100%;
}

.search-btn {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
}

/* -------Heading------*/

.hero-banner {
  background-image: url(../images/main-banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;

}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

.welcome-btn {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--dark);
  padding: 20px;
  font-size: var(--btn-font-size);
}

.welcome-btn:hover {
  background-color: var(--dark);
  color: var(--light);
}

/* -------About Us------*/

.about {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.about img {
  margin: 0 auto;
  width: 100%;
}

.about h2, .about p {
  margin: 15px;
}

/* -------Our services------*/

.services-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
}

.service-items {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service-items h3 {
  margin: 40px 15px 20px 15px;
}

.service-items p {
  margin: 15px;
}

/* Default button */
.btn {
  display: flex;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  font-size: var(--btn-font-size);
  padding: var(--btn-padding);
  align-self: flex-start;
  text-decoration: none;
  margin: 15px;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--dark);
}

/* 
@media (min-width: 760px) {
  .our-services {
    max-width: 800px;
    margin: 0 auto;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
} */

/* -------Our Vision------*/

.vision {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: url(../images/vision.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px;
  margin: 50px 0;
  color: var(--light);
}

.vision h3 {
  font-size: 2.8rem;
}

.vision-btn {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  padding: var(--btn-padding);
  color:  var(--light);
  border: 1px solid var(--primary);
  margin: 20px 0;
  text-decoration: none;
  font-size: var(--btn-font-size);
}

/* -------Our Team------*/

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.team-item {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
}

.team-content {
  margin: 15px;;
}

.line-break {
  border: 1px solid var(--primary);
}

.team-content h3, .team-content h4, .team-content p, .team-content hr {
  margin: 15px;
}

/* -------Contact Us------*/

table, th, td {
  border: 1px solid var(--dark);
  width: 100%;
}

th {
  background-color: #ffe6ac;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.send-btn {
  width: 80px;
  padding: 3px;
  border: none;
  background-color: #222;
  color: #c78c06;
  font-size: 1.3rem;
}

/* -------Footer------*/

footer {
  background-color: var(--dark);
  color: var(--primary);
  padding: 30px;
}

footer a {
  color: var(--primary);
}

footer p:nth-child(2) {
  margin-top: 20px;
}