body {
    margin: 0 auto;
}

.article-block {
    display: flex;
    flex-direction: column;
    background-color: #ffe6ac;
    color: black;
    width: 95%;
    margin: 0 auto;
}

.heading-wrapper {
    margin: 0 auto;
    color: white;
    width: 1200px;
}

header .heading-wrapper {
    color: #c78b07;
    background-color: #222;
}

.heading-wrapper h1 {
    font-size: 70px;
}

.parent {
    display: flex;
    flex-direction: column;
}

.article-block h3{
    font-size: 3rem;
}

.welcome-article {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    height: 900px;
}

.welcome-article article {
    background-color: red;
    background: rgba(0,0,0,0.5);
}

.welcome-article button {
    border: none;
    background-color: #c78b07;
    color: #222;
    padding: 40px;
    width: 28%;
    font-size: 2rem;
}

.vision {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.vision-wrapper {
    width: 1200px;
    margin: 0 auto;
    color: white;
}

.footer-wrapper {
    color: #c78b07;
    margin: 0 auto;
    width: 1200px;
    background-color: #222;
    padding-top: 35px;
    padding-bottom: 5px;
}

.heading-wrapper ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    text-align: center;
}

.heading-wrapper li:hover{
    background-color: #c78b07;
    color: #222;
}

/* Changes value of links default blue color to color of parent */
a {
    color: inherit;
}

.main-buttons {
    padding: 40px;
    background-color: #222;
    color: white;
    border: none;
    width: 25%;
    font-size: 2rem;
}

table {
    display: grid;
}

.lone-headings {
    width: 95%;
    color: #222;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 4rem;
}

aside {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}